
<div class="container p-1 my-1 ">
  <h4>Newton-Raphson Method</h4>
  <form class="row" [formGroup]="NewtonForm" (ngSubmit)="onSubmit(NewtonForm.value)">


    <div class="col-md-4 ">
      <label>fx</label>
      <input type="text" class="form-control" formControlName="fx">
      <br>

      <label>x</label>
      <input type="number" class="form-control" formControlName="x">
      <br>

      <br>
      <button type="submit">Calulator</button>


    </div>

  </form>
  <br />
  <span>Result: {{Result}}</span>
</div>
