<div class="container p-1 my-1 ">
  <h4>Bisection Method</h4>
  <form class="row" [formGroup]="bisectionForm" (ngSubmit)="onSubmit(bisectionForm.value)">


    <div class="col-md-4 ">
      <label>fx</label>
      <input type="text" class="form-control" formControlName="fx">
      <br>

      <label>xL</label>
      <input type="number" class="form-control" formControlName="xL">
      <br>
      <label>xR</label>
      <input type="number" class="form-control" formControlName="xR">

      <br>
      <button type="submit">Calulator</button>


    </div>

  </form>
  <br />
  <span>Result: {{Result}}</span>
</div>
