<div class="container p-1 my-1 bg-dark text-white">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ROOTS OF EQUATIONS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"routerLink="bisection" routerLinkActive="active">Bisection Method</a>
          <a class="dropdown-item" routerLink="falseposition" routerLinkActive="active">False-Position Method</a>
          <a class="dropdown-item" routerLink="onepoint" routerLinkActive="active">One-Point Iteration Method</a>
          <a class="dropdown-item" routerLink="newton" routerLinkActive="active">Newton-Raphson Method</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LINEAR ALGEBRAIC EQUATIONS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cramer’s Rule</a>
          <a class="dropdown-item" href="#">Gauss Elimination Method</a>
          <a class="dropdown-item" href="#">Gauss-Jordan Method</a>
          <a class="dropdown-item" href="#">LU Decomposition Method</a>
          <a class="dropdown-item" href="#">Cholesky Decomposition Method</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Jacobi Iteration Method</a>
          <a class="dropdown-item" href="#">Gauss-Seidel Iteration Method</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</div>

